// @keyframes bodybg{
//     0%{
//         transform: scale(100%);
//     }
//     50%{
//         transform: scale(120%);
//     }
//     100%{
//         transform: scale(100%);
//     }
// }
@keyframes nomoUpDown {
    0%   {top:43%}
    25%  {top:50%}
    75%  {top:38%}
    100% {top:43%}
}
@keyframes pills {
    0%   {top:53%;}
    50%  {top:50%}
    100% {top:53%}
}
@keyframes tapete {
    0%{
        transform:translate(-50%, -50%) scale(100%)
    }
    50%{
        transform:translate(-50%, -50%) scale(130%)
    }
    100%{
        transform:translate(-50%, -50%) scale(100%)
    }
}
@keyframes tapeteSmall {
    0%{
        transform:translate(-50%, -50%) scale(190%)
    }
    50%{
        transform:translate(-50%, -50%) scale(230%)
    }
    100%{
        transform:translate(-50%, -50%) scale(190%)
    }
}
@keyframes caritas {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes passion {
    0%{
        filter: drop-shadow(0px 0px 10px #000);
    }
    40%{
        filter: drop-shadow(0px 0px 10px #000);
    }
    45%{
        filter: drop-shadow(0px 0px 10px $verde-primary);
    }
    50%{
        filter: drop-shadow(0px 0px 10px $verde-primary);
    }
    55%{
        filter: drop-shadow(0px 0px 10px #b356ff);
    }
    60%{
        filter: drop-shadow(0px 0px 10px #000);
    }
    100%{
        filter: drop-shadow(0px 0px 10px #000);
    }
}